p {
    color: #092a71;
    border: #a90e0e  2px dashed;
}



.anvi {
    color: #a90e0e;
    border: 2px double #8fa90e;

    border-radius: 5px;
    padding: 5px;
    margin: 15px;
}



#avani{
    color: #37a90e;

    background-color: antiquewhite;
    padding: 5px;   
    /* margin-top: 25px; */
    /* margin-bottom: 25px;  */
    margin: 10px  20px;
}




