
body {
    background-color: #d4cbcb;
    background-image: url("/image/aspic.jpg"); 
    
}











p {
    color: #092a71;
    border: #a90e0e  2px dashed;
}



.anvi {
    color: #a90e0e;
    border: 2px double #8fa90e;

    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}



#avani{
    color: #37a90e;

    background-color: antiquewhite;
    padding: 5px;   
    /* margin-top: 25px; */
    /* margin-bottom: 25px;  */
    margin: 10px  20px;
}


#avi{
    color: #b30101;
    background-color: rgb(8, 87, 87);
}



#avi:hover {
    color: #b30101;
    background-color: rgb(8, 87, 87);

}



#avniFloat{
    float: right;
}

